**MOVIE RECOMMENDATION SYSTEM** 


*THIS SYSTEM HELPS YOU RECOMMEND YOUR FAVOURITE SHOWS AND MOVEIS BASED ON THE INPUT GIVEN BY YOU*

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')

In [3]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [5]:
df.shape

(4760, 21)

In [6]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [7]:
df_features=df[['Movie_Title','Movie_Genre','Movie_Language','Movie_Keywords','Movie_Cast']].fillna('')

In [8]:
df_features.shape

(4760, 5)

In [9]:
df_features
df_features.info

<bound method DataFrame.info of                       Movie_Title                       Movie_Genre  \
0                      Four Rooms                      Crime Comedy
1                       Star Wars  Adventure Action Science Fiction
2                    Finding Nemo                  Animation Family
3                    Forrest Gump              Comedy Drama Romance
4                 American Beauty                             Drama
...                           ...                               ...
4755             Midnight Cabaret                            Horror
4756             Growing Up Smith               Comedy Family Drama
4757                       8 Days                    Thriller Drama
4758              Running Forever                            Family
4759  To Be Frank, Sinatra at 100                       Documentary

     Movie_Language                                     Movie_Keywords  \
0                en          hotel new year's eve witch bet hotel room
1                en        android galaxy hermit death star lightsaber
2                en  father son relationship harbor underwater fish...
3                en  vietnam veteran hippie mentally disabled runni...
4                en  male nudity female nudity adultery midlife cri...
...             ...                                                ...
4755             en
4756             en
4757             en                     christian film sex trafficking
4758             en
4759             en  music actors legendary perfomer classic hollyw...

                                             Movie_Cast
0     Tim Roth Antonio Banderas Jennifer Beals Madon...
1     Mark Hamill Harrison Ford Carrie Fisher Peter ...
2     Albert Brooks Ellen DeGeneres Alexander Gould ...
3     Tom Hanks Robin Wright Gary Sinise Mykelti Wil...
4     Kevin Spacey Annette Bening Thora Birch Wes Be...
...                                                 ...
4755  Lisa Hart Carroll Michael Des Barres Paul Drak...
4756  Roni Akurati Brighton Sharbino Jason Lee Anjul...
4757  Nicole Smolen Kim Baldwin Ariana Stephens Brys...
4758
4759                                    Tony Oppedisano

[4760 rows x 5 columns]>

In [10]:
x=df_features['Movie_Genre']+' '+df_features['Movie_Keywords']+' '+df_features['Movie_Language']+' '+df_features['Movie_Cast']+' '+df_features['Movie_Title']

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
x=TfidfVectorizer().fit_transform(x)

In [13]:
print(x)

  (0, 3326)	0.10029466949870129
  (0, 3009)	0.0695432999411836
  (0, 6679)	0.38065903427910064
  (0, 10088)	0.14368485776574233
  (0, 15776)	0.2142423506597736
  (0, 4714)	0.22506319967657426
  (0, 15595)	0.19455916561769657
  (0, 1473)	0.24720646961233278
  (0, 12093)	0.21700373813531515
  (0, 4564)	0.03670563555599622
  (0, 14219)	0.17378476077219557
  (0, 12131)	0.23099184903063363
  (0, 655)	0.21047509233063252
  (0, 1122)	0.2142423506597736
  (0, 7253)	0.15091427017402131
  (0, 1289)	0.2595113722281838
  (0, 8746)	0.2549046825508569
  (0, 8952)	0.21847199913791981
  (0, 14278)	0.22506319967657426
  (0, 5240)	0.23815518417999684
  (0, 12095)	0.30273034959130346
  (1, 4564)	0.03564304175810263
  (1, 221)	0.0935456574153598
  (1, 157)	0.08094849123613705
  (1, 12541)	0.10685535293212435
  :	:
  (4757, 14366)	0.30658272750116805
  (4757, 5368)	0.31286536949874455
  (4757, 751)	0.34111562173225807
  (4757, 13146)	0.35764095992477757
  (4757, 2062)	0.35764095992477757
  (4758, 4564)	0.09936487596585276
  (4758, 4859)	0.28452461457767864
  (4758, 12211)	0.6447037349501613
  (4758, 5213)	0.7025165188556254
  (4759, 4564)	0.032345621731304376
  (4759, 9867)	0.12543097439639947
  (4759, 14293)	0.1665742180424962
  (4759, 14252)	0.13654560738739516
  (4759, 880)	0.17569770752602018
  (4759, 4020)	0.14385812869053527
  (4759, 5267)	0.3456003592948617
  (4759, 1285)	0.20986634297841214
  (4759, 2841)	0.2544445039362524
  (4759, 6596)	0.205515929572942
  (4759, 13014)	0.5088890078725048
  (4759, 163)	0.26677106188578764
  (4759, 8241)	0.26677106188578764
  (4759, 10826)	0.26677106188578764
  (4759, 10424)	0.26677106188578764
  (4759, 2)	0.26677106188578764

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
similarity=cosine_similarity(x)
similarity

array([[1.        , 0.0013083 , 0.00120658, ..., 0.00159168, 0.00364725,
        0.00118727],
       [0.0013083 , 1.        , 0.00117165, ..., 0.00154561, 0.00354167,
        0.0011529 ],
       [0.00120658, 0.00117165, 1.        , ..., 0.00142544, 0.03004761,
        0.00106326],
       ...,
       [0.00159168, 0.00154561, 0.00142544, ..., 1.        , 0.00430881,
        0.00140262],
       [0.00364725, 0.00354167, 0.03004761, ..., 0.00430881, 1.        ,
        0.00321402],
       [0.00118727, 0.0011529 , 0.00106326, ..., 0.00140262, 0.00321402,
        1.        ]])

In [21]:
fav=input('enter the movie name')

In [22]:
allMovieList=df['Movie_Title'].tolist()

In [23]:
import difflib

In [24]:
movierec=difflib.get_close_matches(fav,allMovieList)
print(movierec)

['Avatar', 'Salvador', 'Water']

In [25]:
closest=movierec[0]
idexClose=df[df.Movie_Title==closest]['Movie_ID'].values[0]

In [26]:
rec_score=list(enumerate(similarity[idexClose]))
print

In [27]:
sortedMovies=sorted(rec_score,key=lambda x:x[1], reverse=True)

In [28]:
i=1
for movie in sortedMovies:
    index=movie[0]
    title=df[df.index==index]['Movie_Title'].values[0]
    if(i<31):
        print(title)
        i+=1

Niagara
My Week with Marilyn
Caravans
Harry Brown
Back to the Future
Night of the Living Dead
Duel in the Sun
Enough
The Misfits
Eye for an Eye
Some Like It Hot
The Curse of Downers Grove
Welcome to the Sticks
Small Soldiers
Sabotage
Premium Rush
Notes on a Scandal
Camping Sauvage
Minority Report
Bubble Boy
Savages
Tora! Tora! Tora!
The Raid
Source Code
Edge of Darkness
The Lazarus Effect
The Lost Weekend
To Kill a Mockingbird
Tower Heist
Master and Commander: The Far Side of the World